APP_NAME=Tonie Selector
DATA_ROOT=/app/data
DB_PATH=/app/data/tonieselector.sqlite3
MY_TONIES_BASE_URL=https://api.prod.tcs.toys/v2
MY_TONIES_GRAPHQL_URL=https://api.prod.tcs.toys/v2/graphql
MY_TONIES_API_TOKEN=
MY_TONIES_AUTH_BASE_URL=https://login.tonies.com
MY_TONIES_CLIENT_ID=my-tonies
MY_TONIES_REDIRECT_URI=https://my.tonies.com/login
MY_TONIES_SCOPE=openid
MY_TONIES_UI_LOCALES=
MY_TONIES_USERNAME=
MY_TONIES_PASSWORD=
MY_TONIES_MOCK_UPLOAD=true
DEFAULT_FIGURE_ID=
